@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body {
    min-height: 100vh; /* Минимальная высота равна 100vh */
    background-color: beige;
    margin: 0; /* Удаляем стандартные отступы */
    padding: 0;
    overflow-x: hidden;
}
.upper{
    padding-top: 15px;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;

}

.title {
    border: 2px solid beige; /* Цвет и толщина рамки */
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Отступы внутри рамки */
    margin: 20px 0; /* Отступы снаружи */
    display: inline-block; /* Обеспечивает обтекание рамки по тексту */
    max-width: 100%; /* Максимальная ширина контейнера */
    font-family: "Merriweather"
}

.image.is-4x3 {
    width: 640px;  /* Ширина для соотношения 4:3 */
    height: 480px; /* Высота для соотношения 4:3 */
    overflow: hidden; /* Скрываем часть изображения, которая выходит за пределы */
    margin: 10px; /* Отступы между изображениями */
}

.image.is-4x3 img {
    width: 100%; /* Изображение масштабируется по ширине контейнера */
    height: 100%; /* Изображение масштабируется по высоте контейнера */
    object-fit: cover; /* Сохраняем пропорции и обрезаем лишнее */
}

.images-container {
    display: flex; /* Обеспечивает флекс-расположение */
    justify-content: center; /* Центрирует элементы */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    width: 60%; /* Ширина контейнера изображений */
    margin: 0 auto; /* Центрирует контейнер на странице */
}

.image {
    margin: 10px; /* Добавляет отступы между изображениями */
    transition: opacity 0.5s ease-in-out; /* Плавный переход для изменения непрозрачности */
}

.buttons {
    position: fixed; /* Фиксируем кнопки */
    bottom: 8%; /* Расстояние от нижней границы */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем на половину своей ширины для центрирования */
    gap: 20px; /* Пробел между кнопками */
    z-index: 10; /* Добавим z-index, чтобы кнопки были выше других элементов */
}

.image.active {
    opacity: 1; /* Активный слайд полностью видимый */
}

.image {
    position: relative; /* Позволяет позиционировать текст внутри изображения */
}

.image p {
    position: absolute; /* Абсолютное позиционирование текста */
    bottom: 10px; /* Отступ от низа изображения */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Сдвиг на половину ширины текста */
    color: white; /* Цвет текста, чтобы он выделялся на изображении */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для читаемости текста */
    padding: 5px; /* Отступы внутри текста */
    border-radius: 5px; /* Скругление углов фона текста */
}
